<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node File Uploads</title>

  <!-- https://materializecss.com/getting-started.html -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

 
  
  
</head>
<body>
  
    <div class="container">
      

      <%= typeof msg != 'undefined' ? msg : '' %>

      


    </div>






  <!-- https://releases.jquery.com/ -->
  <!-- jQuery 3.x jQuery Core 3.6.0 - minified, version-->
  <!-- JavaScript CDN -->
   
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- https://materializecss.com/getting-started.html CDN -->
<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
